<div>
    <h1>Registros</h1>
    <form action="/api/users" method="post">
        <p>Nombre</p>
        <input name="name" type="text">
        <p>Correo</p>
        <input name="email" type="text">
        <input type="submit">
    </form>
</div>
{{!-- {
    name: 'santi',
    email:'santi@santi.com'
} --}}