<div>

    <h1>Cookie injection</h1>
    <form id='cookieForm' >
        <label >Nombre</label>
        <input name='name'>

        <label>Mail</label>
        <input name="email">

        <input type="submit">

    </form>

    <button onclick="getCookie()">getCookies</button>
</div>

<script src="/js/cookieSetter.js"></script>